<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adslot Test</title>
    <link rel="stylesheet" href="css/design.css">
    <!--Angular JS Lib-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
    <!--Predefined data-->
    <script src="js/data.js"></script>
    <!--Angular Controller-->
    <script src="js/main.js"></script>
</head>
<body ng-app="adSlot">
<div ng-controller="mainController">
    <div class="header">
        <div class="div-center">
            <img src="img/logo.png" alt="logo">
            <button class="close">X</button>
        </div>
    </div>
    <div class="article">
        <div class="div-center">
            <input type="text" class="search-box" placeholder="Search Publishers" ng-model="queries"
                   ng-change="search()">
            <div class="no-result" ng-show="results.length == 0">
                We currently don’t have any results for your search, try another.
            </div>
            <div class="search-wrapper">
                <div class="search-result" ng-repeat="item in results">
                    <a href="http://{{item.siteUrl}}" target="_blank">{{item.siteUrl}}</a>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="div-center">
            <img src="img/footer_logo.png" alt="footer_logo">
        </div>
    </div>
</div>
</body>
</html>